@import "../variables";

.img-container.item {
  gap: 5px;
  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  .main-img {
    width: 956.6px;
    height: 628.13px;
    overflow: hidden;
    border-radius: 3px;
  }
  .right-col {
    gap: 4px;
  }
  .sub-img {
    width: 474.93px;
    height: 312.065px;
    border-radius: 3px;
  }
}

.explore-item {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  .space-apart-row {
    width: 100%;
  }
  .item-title {
    padding-bottom: 20px;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 30px;
    h1 {
      margin: 0 30px 0 0;
    }
    label {
      margin: 0 0 5px;
    }
  }
  .description {
    .left-row {
      flex-wrap: wrap;
      gap: 6px;
    }
    label {
      margin: 0 0 10px;
    }
    .description-text {
      max-width: 50vw;
      white-space: pre-line;
      margin: 0 30px 0 0;
    }
    .right-side {
      max-width: 245px;
      width: 100%;
    }
    .price {
      margin: 30px 0 0
    }
    h3 {
      margin: 10px 0 0;
    }
  }
}

.popup-section.item {
  .dropdown-square {
    margin: 7px 0;
  }
  textarea {
    margin-bottom: 7px;
  }
  button.red {
    margin-bottom: 8px;
  }
  .left-col {
    label.text-red {
      margin: 12px 0 7px;
    }
  }
  .request {
    margin: 0 0 12px 0;
  }
  hr {
    background-color: $lightGrey;
    margin: 0;
  }
  .hidden {
    text-align: center;
    margin: 30px 50px;
  }
}

.related-searches {
  width: 100%;
  padding-bottom: 50px;
  div.left-row {
    margin-top: 12px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
  }
  .left-row::-webkit-scrollbar {
    height: 4px;
  }
  .left-row::-webkit-scrollbar-thumb {
    background-color: $darkGrey;
    border-radius: 3px;
  }
  .left-row::-webkit-scrollbar-thumb:hover {
    background-color: $lightGrey;
  }

  .left-row::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .listItem {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1439px){
  .img-container.item  {
    .main-img {
      width: 66.43vw;
      height: 43.36vw;
    }
    .sub-img {
      width: 33.57vw;
      height: calc(21.68vw - 2px);
    }
  }
}

@media screen and (max-width: 719px) {
  .explore-item {
    .space-apart-row {
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
    }
    .description {
      .description-text {
        max-width: 100vw;
      }
      .right-side.left-col {
        margin-top: 20px;
        max-width: none;
      }
      label {
        max-width: 245px;
      }
    }
  }
}

@media screen and (max-width: 559px){
  .img-container.item  {
    flex-direction: column;
    .main-img {
      width: 100vw;
      height: 65.15vw;
    }
    .right-col {
      flex-direction: row;
      justify-content: center;
    }
    .sub-img {
      width: calc(50vw - 2px);
      height: 31.82vw;
    }
  }
}