.projects {
  padding-top: 20px;
  padding-bottom: 70px;
  h3.text-black {
    margin: 0 0 20px;
  }
  .input-search {
    margin-bottom: 10px;
  }
  .project-search {
    margin-bottom: 30px;
  }
}